@media screen and (max-width: 1024px) {
    #touch-on{display:block}
    #touch-on span,#touch-on span:after,#touch-on span:before{display:block;width:30px;height:3px;background: #333333;margin:auto;position:absolute;top:24px;right:20px;transition:all .35s;}
    #touch-on span:after,#touch-on span:before{content:"";left:0;top:-9px}
    #touch-on span:after{top:9px}
    #touch-on.active span{transform:rotate(45deg);width:25px;border-radius:2px}
    #touch-on.active span:after,#touch-on.active span:before{top:0;transform:rotate(90deg);width:25px;right:2px;border-radius:2px}
    header{width:320px;max-width:320px;display:block;height:100%;transition:all .5s;transform:translate(-100%,0);z-index:9999;top:0;left:0;background:#fff;position:fixed;padding:0}
    header.active{transform:translate(0)}
    .overlay-sticker{position:fixed;background:rgba(0,0,0,.3);width:100%;height:100%;top:0;left:0;right:0;bottom:0;display:none;z-index:9999}
    ._logo-rp{display:block;padding:10px 0 10px 25px;height:50px}
    ._logo-rp img{max-width:100%;max-height:100%}
    .hd-ct .hd-logo{display:none}
    header .hd-ct{display:block}
    .hd-ct .hd-menu ul li{display:block;padding:10px}
    .hd-ct .hd-menu ul{text-align:left}
    .hd-name p{padding:10px 0}
    .ait-ev{display:grid;grid-template-columns:calc(100%/3) calc(100%/3) calc(100%/3)}
    .itev-txt p{padding-top:3px}
    .aitft .itlft:nth-of-type(2),.aitft .itlft:nth-of-type(2){width:50%;float:left}
    .footer .aitft{display:block}
    ._ctiprsnnl h3{font-size:17px}
    ._ctiprsnnl{width:213px}
    .hd-menu ul li:hover{border-bottom:none}
    .dsevt ul li .lstevct h3 a{font-size: 22px;line-height: 1;}
    .top-event .hgtcl ._gtcl ul li p{margin-top:0;}
    }
    @media(max-width: 736px) {
    .ait-ev{grid-template-columns:50% 50%}
    ._imgprsnnl{width:78px;height:auto}
    ._ctiprsnnl{width:139px}
    ._acntct{display:block}
    ._ntcntct{padding-left:0;margin-top:50px}
    ._aprtnr{grid-template-columns:calc(100%/3) calc(100%/3) calc(100%/3)}
    .lstev{display:block}
    ._ntcntct{display:none}
    .hgtcl{padding-left: 0;margin-top: 20px;}
    .dsevt ul li .lstevct p{overflow-y: auto;}
    }
    @media(max-width:414px) {
    ._aprtnr{grid-template-columns:50% 50%}
    .itsocial{display:block}
    ._prtnrcl{grid-template-columns:50% 50%}
    ._lstev{padding: 45px 0 60px;}
}